.navSection {
    background-color: #fff;
    width: 100%;
    z-index: 1;
    position: sticky;
    top: 0;
}

.navbar {
    height: 120px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.logo-icon {
    display: flex;
    height: 100%;
    align-items: center;
}

.logo {
    height: 100%;
}

.navbar-header {
    display: none;
    grid-template-columns: repeat(4, minmax(130px, 1fr));
    align-items: center;
    text-align: center;
}

.navbar__link {
    color: var(--sec-grey);
    transition: color .2s ease-in-out;
}

.navbar__link:hover {
    color: var(--pri-black);
}

.menu-toggle, .menu-toggle .bar {
    display: block;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: var(--pri-blue);
    margin: 5px auto;
    transition: width .4s cubic-bezier(.65, .05, .36, 1);
}

.menu-toggle.active .bar {
    width: 14px;
}

.menu-toggle .bar:first-child {
    margin-right: initial;
    width: 14px;
}

.menu-toggle .bar:last-child {
    margin-left: initial;
    width: 14px;
}

.menu-toggle.active .bar:first-child, .menu-toggle.active .bar:last-child {
    width: 25px;
}

.menu-toggle:hover {
    cursor: pointer;
}

.navbar-mobile-container {
    position: fixed;
    width: 100%;
    opacity: 0;
    z-index: 0;
    background-color: #fff;
    pointer-events: none;
    transition: all .4s cubic-bezier(.65, .05, .36, 1) 1000ms;
}

.navbar-mobile {
    padding: 0 20px;
    text-align: end;
    min-height: calc(100vh - 120px);
}

.navbar-mobile-container.active {
    opacity: 1;
    z-index: 1;
    pointer-events: initial;
    transition: all .4s cubic-bezier(.65, .05, .36, 1);
}

.navbar-mobile li {
    opacity: 0;
    line-height: 70px;
}

.navbar-mobile li:nth-child(1) {
    transition: opacity .4s cubic-bezier(.65, .05, .36, 1);
}

.navbar-mobile li:nth-child(2) {
    transition: opacity .4s cubic-bezier(.65, .05, .36, 1) 200ms;
}

.navbar-mobile li:nth-child(3) {
    transition: opacity .4s cubic-bezier(.65, .05, .36, 1) 400ms;
}

.navbar-mobile li:nth-child(4) {
    transition: opacity .4s cubic-bezier(.65, .05, .36, 1) 600ms;
}

.navbar-mobile.active li {
    opacity: 1;
}

@media only screen and (min-width: 1024px) {
    .navbar-header {
        display: grid;
    }
    .menu-toggle {
        display: none;
    }
    .navbar-mobile {
        display: none;
    }
}