.imageSliderWrapper {
    grid-area: right;
}

.textSliderWrapper {
    grid-area: left;
}

.heading {
    margin-bottom: 40px;
}

.slick-dots {
    text-align: start!important;
}

.slick-dots li {
    margin: 0!important;
}

.slick-dots li>button::before {
    color: var(--pri-blue)!important;
    font-size: 8px!important;
}

.text-justify {
    text-align: justify;
}

.sliderSection {
    width: 86%;
    margin: 35px auto;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    grid-template-areas: "right right" "left left";
}

@media only screen and (min-width: 768px) {
    .sliderSection {
        grid-template-areas: "left right" "left right";
        width: 90%;
    }
}

@media only screen and (min-width: 1024px) {
    .sliderSection {
        grid-template-areas: "left right" "left right";
        width: 95%;
    }
}