/*---------------- Font Weights ---------------------*/

.fw-lighter {
  font-weight: lighter !important;
}

.fw-normal {
  font-weight: normal !important;
}

.fw-bold {
  font-weight: bold !important;
}

.fw-bolder {
  font-weight: bolder !important;
}

.fw-900 {
  font-weight: 900;
}

/*---------------- Font Weights ---------------------*/

/*---------------- Font Sizes ---------------------*/

.fs-14 {
  font-size: 0.875rem !important;
}

.fs-16 {
  font-size: 1rem !important;
}

.fs-18 {
  font-size: 1.125rem !important;
}

.fs-20 {
  font-size: 1.25rem !important;
}

.fs-22 {
  font-size: 1.375rem !important;
}

.fs-24 {
  font-size: 1.5rem !important;
}

.fs-26 {
  font-size: 1.625rem !important;
}

.fs-28 {
  font-size: 1.75rem !important;
}

.fs-32 {
  font-size: 2rem !important;
}

.fs-40 {
  font-size: 2.5rem !important;
}

/*---------------- Font Sizes ---------------------*/

/*---------------- Line Height ---------------------*/

.lh-n {
  line-height: normal;
}

.lh-1 {
  line-height: 1;
}

.lh-1-27 {
  line-height: 1.27;
}

.lh-1-33 {
  line-height: 1.33;
}

/*---------------- Line Height ---------------------*/

/*---------------- Letter Spacing ---------------------*/

.ls-0-5 {
  letter-spacing: 0.5px;
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-1-6 {
  letter-spacing: 1.6px;
}

.ls-2 {
  letter-spacing: 2px;
}

/*---------------- Letter Spacing ---------------------*/

/*---------------- Margin Spacing ---------------------*/

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.m-20 {
  margin: 20px !important;
}

.m-30 {
  margin: 30px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

/*---------------- Margin Spacing ---------------------*/

@media only screen and (min-width: 768px) {
  /*---------------- Font Sizes ---------------------*/
  .fs-md-14 {
    font-size: 0.875rem !important;
  }
  .fs-md-16 {
    font-size: 1rem !important;
  }
  .fs-md-18 {
    font-size: 1.125rem !important;
  }
  .fs-md-20 {
    font-size: 1.25rem !important;
  }
  .fs-md-22 {
    font-size: 1.375rem !important;
  }
  .fs-md-24 {
    font-size: 1.5rem !important;
  }
  /*---------------- Font Sizes ---------------------*/
  /*---------------- Line Height ---------------------*/
  /*---------------- Line Height ---------------------*/
}

@media only screen and (min-width: 1024px) {
  /*---------------- Font Sizes ---------------------*/
  .fs-lg-14 {
    font-size: 0.875rem !important;
  }
  .fs-lg-16 {
    font-size: 1rem !important;
  }
  .fs-lg-18 {
    font-size: 1.125rem !important;
  }
  .fs-lg-20 {
    font-size: 1.25rem !important;
  }
  .fs-lg-22 {
    font-size: 1.375rem !important;
  }
  .fs-lg-24 {
    font-size: 1.5rem !important;
  }
  /*---------------- Font Sizes ---------------------*/
  /*---------------- Line Height ---------------------*/
  /*---------------- Line Height ---------------------*/
}

@media only screen and (min-width: 1200px) {
  /*---------------- Line Height ---------------------*/
  /*---------------- Line Height ---------------------*/
}